
rawdata/.DS_Store
.DS_Store
.Rproj.user
scripts/0132390-230224095556074.zip
scripts/0133151-230224095556074.zip
rawdata/spatial_data/MEOWandPPOW/01_Data/WCMC-036-MEOW-PPOW-2007-2012.shp

admin/~$Kate_and_Ben_hours.xlsx
.Rhistory
*.fasta
.Rhistory
testing/blast.xml
testing/results.tab
blast-log.txt
blast-log2.txt
obitools-log.txt
